{% extends 'base.html.twig' %}

{% block title %}New BoardSettings{% endblock %}

{% block body %}
    <h1>Create new BoardSettings</h1>

    {{ include('board_settings/_form.html.twig') }}

    <a href="{{ path('app_board_settings_index') }}">back to list</a>
{% endblock %}
